name: Release Application

on:
  push:
    tags:
      - v*.*.*

env:
  GITHUB_PTA_TOKEN: ${{ secrets.GITHUBPTA }}
  NOTIFICATION_WEBHOOK: ${{ secrets.NOTIFICATION_WEBHOOK }}
  NOTIFICATION_AUTH: ${{ secrets.NOTIFICATION_AUTH }}

jobs:
  build:
    runs-on: ubuntu-latest
    # insatll nodejs and bun
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build
          path: /tmp/build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: /tmp/build/*
          token: ${{ env.GITHUB_PTA_TOKEN }}
          release_name: Release ${{ github.ref }}
          body_path: ${{ github.workspace }}/docs/CHANGELOG.md
          prerelease: true

      - name: Send Notification Success
        if: success()
        run: |
          curl -X POST -H "Authorization: bearer ${{ env.NOTIFICATION_AUTH }}" -H "Title:${{ github.event.repository.name }} - Release - ${{ github.ref }}" -d "Release Success - ${{ github.ref }}" ${{ env.NOTIFICATION_WEBHOOK }}

      - name: Send Notification Failure
        if: failure()
        run: |
          curl -X POST -H "Authorization: bearer ${{ env.NOTIFICATION_AUTH }}" -H "Title:${{ github.event.repository.name }} - Release - ${{ github.ref }}" -d "Release Failed - ${{ github.ref }}" ${{ env.NOTIFICATION_WEBHOOK }}
