name: Build Application

on:
  push:
    tags:
      - v*.*.*

jobs:
  build:
    runs-on: ubuntu-latest
    # insatll nodejs and bun
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: build
          token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ github.ref }}
          body_path: ${{ github.workspace }}/docs/CHANGELOG.md
          prerelease: true
